:host {
  display: flex;
  height: calc(100% - 64px);
  flex-direction: column;
}

table {
  border: 2px solid;
}

td.mat-cell:nth-child(1) {
  font-weight: bold;
  color: black;
}

td.mat-cell {
  width: 100px;
  color: black;
  background-color: #f3f3f3;
  padding-left: 20px;
}

#value-stmt {
  order: 4;
  margin-left: 5px;
  overflow: auto;
}

#stmt-container {
  display: flex;
  flex-flow: row;
  height: calc(100% - (2.92 * 64px));
  background: #f3f3f3;
  justify-content: flex-start;
}
#balance-stmt {
  order: 1;
  margin-left: 5px;
  overflow: auto;
}
#cashflow-stmt {
  order: 2;
  margin-right: 5px;
  margin-left: 5px;
  overflow: auto;
}
#income-stmt {
  order: 3;
  margin-right: 5px;
  overflow: auto;
}

#footer-stmt {
  margin-left: 5px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
  background: #f3f3f3;
}

#header-div {
  display: flex;
  flex-flow: row;
  background: #f3f3f3;
  justify-content: flex-start;
  margin-left: 8px;
}

#header-bal {
  order: 1;
}

#header-cash {
  margin-left: 177px;
  order: 2;
}

#header-inc {
  margin-left: 152px;
  order: 3;
}

#header-val {
  margin-left: 167px;
  order: 4;
}
